<ion-split-pane when="sm">
  <ion-menu id="aMenu" contentId="acontent">

    <ion-header>
      <ion-toolbar>
        <ion-title>A Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>

        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="['./a1']" routerLinkActive="active">
            <ion-label>
              A1
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="['./a2']" routerLinkActive="active">
            <ion-label>
              A2
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <div>footer</div>
      </ion-toolbar>
    </ion-footer>

  </ion-menu>
  <ion-router-outlet main id="acontent"></ion-router-outlet>
</ion-split-pane>