<ion-split-pane when="sm">
  <ion-menu id="bMenu" contentId="bcontent">

    <ion-header>
      <ion-toolbar>
        <ion-title>B Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>

        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="['./b1']" routerLinkActive="active">
            <ion-label>
              B1
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="['./b2']" routerLinkActive="active">
            <ion-label>
              B2
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <div>footer</div>
      </ion-toolbar>
    </ion-footer>

  </ion-menu>
  <ion-router-outlet main id="bcontent"></ion-router-outlet>
</ion-split-pane>